%button {
    margin: 0 30px;
    background-color: white;
    border: none;
    color: rgb(118,118,118);
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    &:focus {
        outline: none;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    background-color: white;
    border-bottom: 1px solid rgb(223,223,223);
    .logoContainer {
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        position: relative;
        top: 40px;
        left: 200px;
        
        img {
            height: 4rem;
        }
    }
    
    .buttonBox{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 125px;
        left: 170px;

        .btn {
            @extend %button;
        }
        .btnActive {
            @extend %button;
            color: rgb(226,118,49);
            border-bottom: 2px solid rgb(226,118,49);
        }
    }
}

@media screen and (max-width: 700px) {
    %button {
        margin: 0 20px;
    }
    .headerContainer{
        .buttonBox {
            position: relative;
            top: 61px;
            left: 0;
        }

    }
}

@media screen and (max-width: 530px) {
    .headerContainer{
        .logoContainer {
            left: 0;
            margin: 0 auto;

        }
    }
}